<a href="https://colab.research.google.com/github/JCaballerot/Programacion_en_Python/blob/main/modulo6/Graficos_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5> UNIDAD VI - GRÁFICOS EN PYTHON
</font></h1>

---

In [4]:
# Principales imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
# Leyendo archivo csv

pddf = pd.read_csv('sample_data/california_housing_train.csv')
pddf2 = pd.read_csv('train_titanic.csv')

In [ ]:
pddf.describe()

# Scatterplot

In [7]:
x = pddf.households
y = pddf.median_house_value

In [ ]:
# plot
fig, ax = plt.subplots()
ax.scatter(x, y)

### Mejorar el gráfico con una muestra

In [ ]:
# Tomar una muestra de los datos
x = pddf.sample(1000).households
y = pddf.sample(1000).median_house_value

# size and color:
sizes = np.random.uniform(15, 80, len(x))
colors = np.random.uniform(15, 80, len(x))

# plot
plt.rcParams["figure.figsize"] = (8, 6)
fig, ax = plt.subplots()
ax.scatter(x, y, s=sizes, c=colors, vmin=0, vmax=100)

#Labels
plt.title("Scatterplot", fontsize = 20)
plt.xlabel('households')
plt.ylabel('median house value')

#Guardar gráfico
plt.savefig("scatterplot_1.jpg")

#Mostrar gráfico
plt.show()

### Mejorar el gráfico con transparencia

In [ ]:
# Tomar una muestra de los datos
x = pddf.households
y = pddf.median_house_value

# plot
fig, ax = plt.subplots()
ax.scatter(x, y, alpha = 0.2)

plt.show()

### Seaborn

In [11]:
import seaborn as sns

In [ ]:
sns.relplot(data = pddf, x="households", y="median_house_value", height=6, aspect=11.7/8.27)

In [ ]:
sns.set(rc={'figure.figsize':(6, 4)})
sns.regplot(data = pddf.sample(1000), x="households", y="median_house_value", 
            scatter_kws={'alpha':0.3}, fit_reg = True)

In [ ]:
sns.set(rc={'figure.figsize':(6, 4)})
sns.regplot(data = pddf2, x="Age", y="Fare", scatter_kws = {'alpha': 0.5})

In [ ]:
sns.set(rc={'figure.figsize':(6, 4)})
sns.relplot(data = pddf2, x="Age", y="Fare", hue="Survived", height=4, aspect=11.7/8.27)

In [ ]:
import seaborn as sns
sns.set_theme(style="darkgrid")

g = sns.jointplot(x="households", y="median_house_value", data=pddf,
                  kind="reg", truncate=False,
                  color="m", height=7)

# Histograma

In [ ]:
# plot:
fig, ax = plt.subplots()
plt.rcParams["figure.figsize"] = (10, 6)
ax.hist(pddf.median_house_value, bins='auto', edgecolor="white")

In [ ]:
# plot:
fig, ax = plt.subplots()
plt.rcParams["figure.figsize"] = (10, 6)
ax.hist(pddf.median_house_value, bins='auto', edgecolor="white", cumulative=True)

In [ ]:
sns.histplot(data=pddf, x="median_house_value", kde=True)

In [ ]:
sns.histplot(data=pddf, x="median_house_value", kde=True, cumulative=True)

# Lineas

In [22]:
covid = pd.read_csv('positivos_covid.csv', delimiter = ';')
covid.head()

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona
0,20230208,AREQUIPA,AREQUIPA,YANAHUARA,PCR,78,FEMENINO,20220108.0,40126.0,13889713.0
1,20230208,AREQUIPA,AREQUIPA,PAUCARPATA,AG,67,MASCULINO,20210628.0,40112.0,13889735.0
2,20230208,AREQUIPA,AREQUIPA,PAUCARPATA,AG,75,FEMENINO,20230123.0,40112.0,13889743.0
3,20230208,LIMA,LIMA,LIMA,PR,23,MASCULINO,20210121.0,150101.0,13889774.0
4,20230208,JUNIN,HUANCAYO,HUANCAYO,AG,24,FEMENINO,20220119.0,120101.0,13889793.0

In [ ]:
covid['MES_RESULTADO'] = covid.FECHA_RESULTADO.apply(lambda x: str(x)[:6])
covid.head()

In [ ]:
df = covid.groupby("MES_RESULTADO")[["id_persona"]].aggregate(['count']).reset_index()
df.columns = df.columns.droplevel(-1)
df.head()

In [ ]:
plt.rcParams["figure.figsize"] = (20, 6)
sns.lineplot(x="MES_RESULTADO", y="id_persona", data=df)
plt.xticks(rotation=90)

In [ ]:
df = covid.groupby(["MES_RESULTADO", "SEXO"])[["id_persona"]].aggregate(['count']).reset_index()
df.columns = df.columns.droplevel(-1)
df.head()

In [ ]:
plt.rcParams["figure.figsize"] = (20, 6)
sns.lineplot(x="MES_RESULTADO", y="id_persona", hue = 'SEXO', data=df)

# Barras

In [34]:
res = covid.groupby("DEPARTAMENTO")[["id_persona"]].aggregate(['count']).reset_index()
res.columns = res.columns.droplevel(-1)
res.sort_values(by = 'id_persona', ascending = False, inplace = True)

In [ ]:
res.head()

In [ ]:
plt.bar(res.DEPARTAMENTO, res.id_persona)
plt.xticks(rotation=90)

In [ ]:
plt.barh(res.DEPARTAMENTO, res.id_persona, align='center', alpha=0.5)

# Areas

In [47]:
res = covid.groupby("SEXO")[["id_persona"]].aggregate(['count']).reset_index()
res.columns = res.columns.droplevel(-1)
res.sort_values(by = 'id_persona', ascending = False, inplace = True)

In [ ]:
plt.pie(res.id_persona, labels=res.SEXO)

# Cajas

In [ ]:
sns.set_theme(style="whitegrid")
ax = sns.boxplot(data=covid.EDAD, orient="h")

In [ ]:
sns.set_theme(style="whitegrid")
ax = sns.boxplot(data=covid.EDAD, orient="v")

# Contorno

In [ ]:

# Creating 2-D grid of features
[X, Y] = np.meshgrid(pddf.longitude, pddf.latitude)
fig, ax = plt.subplots(1, 1)
Z = X ** 2 + Y ** 2

ax.contourf(X, Y, Z)